<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Genx/ui-automation/LoginProjectJson">
        <classes>
            <class name="parabank.ParaBank_Test">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
            <class name="parabank.LoginPage">
                <methods>
                    <include name="loginpage"/>
                </methods>
            </class>
            <!--<class name="JsonProject.RunTest_Code.APIJsonCode.report"><methods><include name="setup"/></methods></class>-->
        </classes>
    </test>
</suite>